<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=cake_bookiU0sba;pwd=nd@Y[}Ngy}uf;Database=cake_bookingsystem" name="cake_bookingsystem" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
